In [59]:
# EXAMPLE LINK: https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=AAPL&outputsize=full&apikey=XU0S88ZM101LB0FQ&datatype=csv

# Import neccesary modules and packages #
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import ipywidgets as widgets
from ipywidgets import interactive

#Notify everything's OK!
print("Downloading data...\n")

# SET ATTRIBUTES FOR DATA FETCH #
apikey = "XU0S88ZM101LB0FQ" 
outputsize = "full" # Compact or full, if daily data. Compact is 100 days, full is 20+ years.
tickers = ["AAPL","BA","AIG","MSFT","TSLA"] # Maximum of five stocks per data fetch and only one data fetch per minute allowed
freq = "DAILY" # DAILY, WEEKLY OR MONTHLY

# Empty Panda DataFrame to append individual stock data to 
stocks_df = pd.DataFrame() 

# Loop through tickercodes and fetch data individually, then append to stocks_df
for ticker in tickers:
    fetch_link = "https://www.alphavantage.co/query?function=TIME_SERIES_" + freq + "_ADJUSTED&symbol=" + ticker + "&outputsize=" + outputsize + "&apikey=" + apikey + "&datatype=csv"
    df = pd.read_csv(fetch_link)
    df["ticker"] = ticker
    print(ticker + " OK! Mean close is " + str(round(df.close.mean(),2)) + ".")
    stocks_df = stocks_df.append(df,ignore_index=True)
print("\nAll data downloaded!")

Downloading data...

AAPL OK! Mean close is 158.48.
BA OK! Mean close is 95.29.
AIG OK! Mean close is 59.79.
MSFT OK! Mean close is 49.68.
TSLA OK! Mean close is 176.13.

All data downloaded!

In [60]:
def graph(ticker,days,adjusted):
    get_stock=stocks_df.loc[stocks_df['ticker'] == ticker, :]
    get_stock=get_stock.iloc[0:days]
    get_stock = get_stock[::-1] # Reverses order of dataframe
    get_stock = get_stock.reset_index() # Re-indexes
    #plt.figure(figsize=(7,5))
    plt.plot(get_stock['timestamp'], get_stock['adjusted_close'] if adjusted == True else get_stock['close'])
    plt.title(ticker)
    # HERUNDER LAVES X-AKSEN
    #SLET IKKE DENNE KOMMENTAR: first_day_of_month = stocks_df.loc[get_stock['timestamp'].str[-2:] == "01", :].index.tolist()
    if (days < 90):
        every_x_day = round(days/22+0.5)
        trading_days = get_stock.iloc[0:days].index.tolist()
        ticks = trading_days[::every_x_day]
        timestamp_values = get_stock["timestamp"][ticks] 
    elif (days <= 360):
        first_trading_day_of_month = get_stock.loc[get_stock['timestamp'].str[-2:] < get_stock['timestamp'].str[-2:].shift(periods=1),:].index.tolist()
        ticks = first_trading_day_of_month
        timestamp_values = get_stock["timestamp"].str[:7][ticks]
    else:
        first_trading_day_of_year = get_stock.loc[get_stock['timestamp'].str[:4] > get_stock['timestamp'].str[:4].shift(periods=1),:].index.tolist()
        ticks = first_trading_day_of_year
        timestamp_values = get_stock["timestamp"].str[:4][ticks]
    plt.xticks(ticks,timestamp_values)
    plt.xticks(rotation=90)
    plt.show()
print("Function to draw graph succesfully defined.")

Function to draw graph succesfully defined.

In [61]:
interactive_plot = interactive(graph, days=[('One week', 7), 
                      ('Two weeks', 14), 
                      ('One month', 30), 
                      ('Two months', 60), 
                      ('Three months', 90), 
                      ('Half year', 180), 
                      ('One year', 360), 
                      ('Two years', 720), 
                      ('Five years', 1800), 
                      ('10 years', 3600), 
                      ('All time', 999999999)],
                adjusted=[('False',False),('True',True)],
                ticker=tickers);
output = interactive_plot.children[-1]
output.layout.height = '350px'
interactive_plot

interactive(children=(Dropdown(description='ticker', options=('AAPL', 'BA', 'AIG', 'MSFT', 'TSLA'), value='AAP…

In [89]:
df_p=stocks_df.copy() #Makes a copy of main dataframe
df_p = df_p[::-1] # Reverses order of dataframe
df_p['return']=df_p['adjusted_close'].pct_change() #calculate daily return
df_r = pd.DataFrame() #Creates new dataframe with the returns
x=df_p.loc[df_p['ticker']=='AAPL','timestamp']  #Getting timestamp
df_r['timestamp']=x
for company in tickers:
    x=df_p.loc[df_p['ticker']==company,'return']
    df_r[company]=x
df_r

       timestamp      AAPL  BA  AIG  MSFT  TSLA
5344  1998-01-02 -0.998697 NaN  NaN   NaN   NaN
5343  1998-01-05 -0.022732 NaN  NaN   NaN   NaN
5342  1998-01-06  0.192701 NaN  NaN   NaN   NaN
5341  1998-01-07 -0.075992 NaN  NaN   NaN   NaN
5340  1998-01-08  0.039483 NaN  NaN   NaN   NaN
5339  1998-01-09  0.000000 NaN  NaN   NaN   NaN
5338  1998-01-12  0.003151 NaN  NaN   NaN   NaN
5337  1998-01-13  0.068574 NaN  NaN   NaN   NaN
5336  1998-01-14  0.012900 NaN  NaN   NaN   NaN
5335  1998-01-15 -0.028373 NaN  NaN   NaN   NaN
5334  1998-01-16 -0.019910 NaN  NaN   NaN   NaN
5333  1998-01-20  0.013374 NaN  NaN   NaN   NaN
5332  1998-01-21 -0.007852 NaN  NaN   NaN   NaN
5331  1998-01-22  0.018017 NaN  NaN   NaN   NaN
5330  1998-01-23  0.012901 NaN  NaN   NaN   NaN
5329  1998-01-26 -0.003103 NaN  NaN   NaN   NaN
5328  1998-01-27 -0.016380 NaN  NaN   NaN   NaN
5327  1998-01-28  0.003664 NaN  NaN   NaN   NaN
5326  1998-01-29 -0.036005 NaN  NaN   NaN   NaN
5325  1998-01-30 -0.010327 NaN  NaN   NaN   NaN
5324  1998-02-02 -0.033739 NaN  NaN   NaN   NaN
5323  1998-02-03  0.034917 NaN  NaN   NaN   NaN
5322  1998-02-04 -0.003304 NaN  NaN   NaN   NaN
5321  1998-02-05  0.003315 NaN  NaN   NaN   NaN
5320  1998-02-06  0.010435 NaN  NaN   NaN   NaN
5319  1998-02-09  0.037349 NaN  NaN   NaN   NaN
5318  1998-02-10  0.012942 NaN  NaN   NaN   NaN
5317  1998-02-11 -0.022604 NaN  NaN   NaN   NaN
5316  1998-02-12  0.019440 NaN  NaN   NaN   NaN
5315  1998-02-13  0.006740 NaN  NaN   NaN   NaN
...          ...       ...  ..  ...   ...   ...
29    2019-02-19  0.002993 NaN  NaN   NaN   NaN
28    2019-02-20  0.006435 NaN  NaN   NaN   NaN
27    2019-02-21 -0.005639 NaN  NaN   NaN   NaN
26    2019-02-22  0.011166 NaN  NaN   NaN   NaN
25    2019-02-25  0.007285 NaN  NaN   NaN   NaN
24    2019-02-26  0.000574 NaN  NaN   NaN   NaN
23    2019-02-27  0.003098 NaN  NaN   NaN   NaN
22    2019-02-28 -0.009836 NaN  NaN   NaN   NaN
21    2019-03-01  0.010511 NaN  NaN   NaN   NaN
20    2019-03-04  0.005029 NaN  NaN   NaN   NaN
19    2019-03-05 -0.001820 NaN  NaN   NaN   NaN
18    2019-03-06 -0.005754 NaN  NaN   NaN   NaN
17    2019-03-07 -0.011575 NaN  NaN   NaN   NaN
16    2019-03-08  0.002377 NaN  NaN   NaN   NaN
15    2019-03-11  0.034642 NaN  NaN   NaN   NaN
14    2019-03-12  0.011235 NaN  NaN   NaN   NaN
13    2019-03-13  0.004422 NaN  NaN   NaN   NaN
12    2019-03-14  0.011117 NaN  NaN   NaN   NaN
11    2019-03-15  0.013008 NaN  NaN   NaN   NaN
10    2019-03-18  0.010208 NaN  NaN   NaN   NaN
9     2019-03-19 -0.007925 NaN  NaN   NaN   NaN
8     2019-03-20  0.008739 NaN  NaN   NaN   NaN
7     2019-03-21  0.036830 NaN  NaN   NaN   NaN
6     2019-03-22 -0.020708 NaN  NaN   NaN   NaN
5     2019-03-25 -0.012091 NaN  NaN   NaN   NaN
4     2019-03-26 -0.010332 NaN  NaN   NaN   NaN
3     2019-03-27  0.008994 NaN  NaN   NaN   NaN
2     2019-03-28  0.001326 NaN  NaN   NaN   NaN
1     2019-03-29  0.006518 NaN  NaN   NaN   NaN
0     2019-04-01  0.006791 NaN  NaN   NaN   NaN

[5345 rows x 6 columns]

In [78]:
df_p.loc[df_p['ticker']=='AAPL','return'].std()

0.030238742454643124

In [74]:
df_p.loc[df_p['ticker']=='AAPL','return']

5344   -0.998697
5343   -0.022732
5342    0.192701
5341   -0.075992
5340    0.039483
5339    0.000000
5338    0.003151
5337    0.068574
5336    0.012900
5335   -0.028373
5334   -0.019910
5333    0.013374
5332   -0.007852
5331    0.018017
5330    0.012901
5329   -0.003103
5328   -0.016380
5327    0.003664
5326   -0.036005
5325   -0.010327
5324   -0.033739
5323    0.034917
5322   -0.003304
5321    0.003315
5320    0.010435
5319    0.037349
5318    0.012942
5317   -0.022604
5316    0.019440
5315    0.006740
          ...
29      0.002993
28      0.006435
27     -0.005639
26      0.011166
25      0.007285
24      0.000574
23      0.003098
22     -0.009836
21      0.010511
20      0.005029
19     -0.001820
18     -0.005754
17     -0.011575
16      0.002377
15      0.034642
14      0.011235
13      0.004422
12      0.011117
11      0.013008
10      0.010208
9      -0.007925
8       0.008739
7       0.036830
6      -0.020708
5      -0.012091
4      -0.010332
3       0.008994
2       0.001326
1       0.006518
0       0.006791
Name: return, Length: 5345, dtype: float64

In [71]:
df_p

,timestamp,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,ticker,return
23583,2010-06-29,19.0000,25.0000,17.5400,23.89,23.89,18766300,0.0,1.0,TSLA,NaN
23582,2010-06-30,25.7900,30.4192,23.3000,23.83,23.83,17187100,0.0,1.0,TSLA,-0.002512
23581,2010-07-01,25.0000,25.9200,20.2700,21.96,21.96,8218800,0.0,1.0,TSLA,-0.078473
23580,2010-07-02,23.0000,23.1000,18.7100,19.20,19.20,5139800,0.0,1.0,TSLA,-0.125683
23579,2010-07-06,20.0000,20.0000,15.8300,16.11,16.11,6866900,0.0,1.0,TSLA,-0.160937
23578,2010-07-07,16.4000,16.6300,14.9800,15.80,15.80,6921700,0.0,1.0,TSLA,-0.019243
23577,2010-07-08,16.1400,17.5200,15.5700,17.46,17.46,7711400,0.0,1.0,TSLA,0.105063
23576,2010-07-09,17.5800,17.9000,16.5500,17.40,17.40,4050600,0.0,1.0,TSLA,-0.003436
23575,2010-07-12,17.9500,18.0700,17.0000,17.05,17.05,2202500,0.0,1.0,TSLA,-0.020115
23574,2010-07-13,17.3938,18.6400,16.9000,18.14,18.14,2680100,0.0,1.0,TSLA,0.063930
23573,2010-07-14,17.9400,20.1500,17.7601,19.84,19.84,4195200,0.0,1.0,TSLA,0.093716
23572,2010-07-15,19.9400,21.5000,19.0000,19.89,19.89,3739800,0.0,1.0,TSLA,0.002520
23571,2010-07-16,20.7000,21.3000,20.0500,20.64,20.64,2621300,0.0,1.0,TSLA,0.037707
23570,2010-07-19,21.3700,22.2500,20.9200,21.91,21.91,2486500,0.0,1.0,TSLA,0.061531
23569,2010-07-20,21.8500,21.8500,20.0500,20.30,20.30,1825300,0.0,1.0,TSLA,-0.073482
23568,2010-07-21,20.6600,20.9000,19.5000,20.22,20.22,1252500,0.0,1.0,TSLA,-0.003941
23567,2010-07-22,20.5000,21.2500,20.3700,21.00,21.00,957800,0.0,1.0,TSLA,0.038576
23566,2010-07-23,21.1900,21.5600,21.0600,21.29,21.29,653600,0.0,1.0,TSLA,0.013810
23565,2010-07-26,21.5000,21.5000,20.3000,20.95,20.95,922200,0.0,1.0,TSLA,-0.015970
23564,2010-07-27,20.9100,21.1800,20.2600,20.55,20.55,619700,0.0,1.0,TSLA,-0.019093
23563,2010-07-28,20.5500,20.9000,20.5100,20.72,20.72,467200,0.0,1.0,TSLA,0.008273
23562,2010-07-29,20.7700,20.8800,20.0000,20.35,20.35,616000,0.0,1.0,TSLA,-0.017857
23561,2010-07-30,20.2000,20.4400,19.5500,19.94,19.94,426900,0.0,1.0,TSLA,-0.020147
23560,2010-08-02,20.5000,20.9700,20.3330,20.92,20.92,718100,0.0,1.0,TSLA,0.049147
23559,2010-08-03,21.0000,21.9500,20.8200,21.95,21.95,1230500,0.0,1.0,TSLA,0.049235
23558,2010-08-04,21.9500,22.1800,20.8500,21.26,21.26,913000,0.0,1.0,TSLA,-0.031435
23557,2010-08-05,21.5400,21.5500,20.0500,20.45,20.45,796200,0.0,1.0,TSLA,-0.038100
23556,2010-08-06,20.1000,20.1601,19.5200,19.59,19.59,741900,0.0,1.0,TSLA,-0.042054
23555,2010-08-09,19.9000,19.9800,19.4500,19.60,19.60,812700,0.0,1.0,TSLA,0.000510
23554,2010-08-10,19.6500,19.6500,18.8200,19.03,19.03,1281300,0.0,1.0,TSLA,-0.029082
...,...,...,...,...,...,...,...,...,...,...,...
29,2019-02-19,169.7100,171.4400,169.4900,170.93,170.93,18972826,0.0,1.0,AAPL,0.002993
28,2019-02-20,171.1900,173.3200,170.9900,172.03,172.03,26114362,0.0,1.0,AAPL,0.006435
27,2019-02-21,171.8000,172.3700,170.3000,171.06,171.06,17249670,0.0,1.0,AAPL,-0.005639
26,2019-02-22,171.5800,173.0000,171.3800,172.97,172.97,18913154,0.0,1.0,AAPL,0.011166
25,2019-02-25,174.1600,175.8700,173.9500,174.23,174.23,21873358,0.0,1.0,AAPL,0.007285
24,2019-02-26,173.7100,175.3000,173.1732,174.33,174.33,17070211,0.0,1.0,AAPL,0.000574
23,2019-02-27,173.2100,175.0000,172.7300,174.87,174.87,27835389,0.0,1.0,AAPL,0.003098
22,2019-02-28,174.3200,174.9100,172.9200,173.15,173.15,28215416,0.0,1.0,AAPL,-0.009836
21,2019-03-01,174.2800,175.1500,172.8900,174.97,174.97,25886167,0.0,1.0,AAPL,0.010511
20,2019-03-04,175.6900,177.7500,173.9700,175.85,175.85,27436203,0.0,1.0,AAPL,0.005029
19,2019-03-05,175.9400,176.0000,174.5400,175.53,175.53,19737419,0.0,1.0,AAPL,-0.001820
18,2019-03-06,174.6700,175.4900,173.9400,174.52,174.52,20810384,0.0,1.0,AAPL,-0.005754
17,2019-03-07,173.8700,174.4400,172.0200,172.50,172.50,24796374,0.0,1.0,AAPL,-0.011575
16,2019-03-08,170.3200,173.0700,169.5000,172.91,172.91,23999358,0.0,1.0,AAPL,0.002377
15,2019-03-11,175.4900,179.1200,175.3500,178.90,178.90,32011034,0.0,1.0,AAPL,0.034642
14,2019-03-12,180.0000,182.6700,179.3700,180.91,180.91,32467584,0.0,1.0,AAPL,0.011235
13,2019-03-13,182.2500,183.3000,180.9200,181.71,181.71,31032524,0.0,1.0,AAPL,0.004422
12,2019-03-14,183.9000,184.1000,182.5600,183.73,183.73,23579508,0.0,1.0,AAPL,0.011117
11,2019-03-15,184.8500,187.3300,183.7400,186.12,186.12,39042912,0.0,1.0,AAPL,0.013008
10,2019-03-18,185.8000,188.3900,185.7900,188.02,188.02,26219832,0.0,1.0,AAPL,0.010208
9,2019-03-19,188.3500,188.9900,185.9200,186.53,186.53,31646369,0.0,1.0,AAPL,-0.007925
8,2019-03-20,186.2300,189.4900,184.7300,188.16,188.16,31035231,0.0,1.0,AAPL,0.008739
7,2019-03-21,190.0200,196.3300,189.8100,195.09,195.09,51034237,0.0,1.0,AAPL,0.036830
6,2019-03-22,195.3400,197.6900,190.7800,191.05,191.05,42407666,0.0,1.0,AAPL,-0.020708
5,2019-03-25,191.5100,191.9800,186.6000,188.74,188.74,43845293,0.0,1.0,AAPL,-0.012091
4,2019-03-26,191.6640,192.8800,184.5800,186.79,186.79,49800538,0.0,1.0,AAPL,-0.010332
3,2019-03-27,188.7500,189.7600,186.5500,188.47,188.47,29848427,0.0,1.0,AAPL,0.008994
2,2019-03-28,188.9500,189.5590,187.5300,188.72,188.72,20780363,0.0,1.0,AAPL,0.001326
1,2019-03-29,189.8300,190.0800,188.5400,189.95,189.95,23563961,0.0,1.0,AAPL,0.006518
0,2019-04-01,191.6400,191.6800,188.3800,191.24,191.24,27307278,0.0,1.0,AAPL,0.006791